[2019-03-15 18:05] imain opened #13 "Ironic container is not very kubernetes friendly"
Hey guys!

So in the process of trying to use this in a pod with the baremetal operator, I noticed a few things which should probably be changed, or at least talked about, with respect to running this container in kubernetes.  My intention here is just to record these so we can work with them.

- We can't bind mount anything in, so I've got a PR to download the images at startup.  Open to suggesti

[2019-03-15 18:42] dtantsur commented on #13
Hi Ian, great points!

Is there any k8s-friendly way to push blobs to a container? If not, downloading may be fine.

I fully agree. But it was an explicit design request. I'm totally open to going back to how TripleO/Kolla splits the containers. This will need switching to MySQL, but that's on our roadmap anyway. Also note that some containers will need a shared volume (the same way TripleO does i

[2019-03-15 18:58] imain commented on #13
We may be able to use a volume in the future, but I think our devel setup atm does not have any storage options to back the volumes.  I think for now downloading make sense.

Yeah, not a big rush on this one.  Thanks! :)

Yeah I hear ya :)

Awesome, thanks!

[2019-03-18 10:23] hardys commented on #13
FWIW the reason for the monolithic container was to make it easy to spin up a container on the host for bootstrapping the masters - recent versions of podman do support starting a pod yaml via podman play, so we could potentially move to multi-container using that (although last time I tried it it didn't seem to work).

So we have to balance debugging convenience vs potential inconvenience of jugg

[2019-03-19 21:53] imain commented on #13
We could actually reuse the same container and just have multiple entry points.  This would require proper healthchecks for each service though.

[2019-03-19 21:54] imain commented on #13
At any rate, this isn't the top priority.  Moving the port and getting it to work with both podman and openshift is really the first thing that needs to be solved.

[2019-03-25 15:42] bcrochet opened #17 "Healthcheck is too aggressive"
It appears the healthcheck script timeout of 10 seconds is too aggressive. I'm not sure which part is failing. Bumping it up to 30 seconds might be more reasonable.

[2019-03-26 13:49] juliakreger opened #19 "Container is hard coded to use python2."

[2019-03-26 15:45] bfournie commented on #17
https://github.com/metalkube/metalkube-ironic/pull/16 changes the time between healthchecks and the time start the first healthcheck to 30 seconds.

[2019-03-26 15:48] bfournie commented on #13
https://github.com/metalkube/metalkube-ironic/pull/16 is the first pass of splitting up containers.  It became necessary to land this sooner rather than later in order to allow dnmasq to be cleanly stopped or modified on the host when the BMO is provisioning worker nodes.

I agree that we should look at podman play and podman generate to use yaml files for the podman definition and make it more co

[2019-03-28 10:30] elfosardo commented on #13
FYI the version of podman installed in CentOS 7.6 supports "play" and "generate" subcommands
[code]

[2019-04-12 17:16] #17 closed

[2019-04-17 12:49] hardys commented on #13
So we're now launching separate containers via dev-scripts, but not yet using podman play - @imain can you please help identify the existing todo items so we can work towards closing out this issue?

[2019-04-17 12:57] elfosardo commented on #13
Just some up-to-date notes from a quick research based on version 1.2.0

Seems the generate command is quite limited at the moment, with no support for dependencies (volumes, other containers), so automated generation of yaml files is no go.

The play command works ok, although some limitations there as well, for example:

- only one type of volume supported
https://github.com/containers/libpod/bl

[2019-04-18 09:28] elfosardo opened #37 "Mariadb doesn't read conf from /etc/my.conf"
Correct location for mariadb configuration file is either /etc/my.cnf or any cnf file under /etc/my.cnf.d/
In our specific case, the configuration is located in /etc/my.cnf.d/mariadb-server.cnf and this is what we should use

[2019-04-18 12:48] #37 closed

[2019-04-23 14:06] imain commented on #13
It sounds to me like it wouldn't be worth moving to play.  I don't see a problem with the current set up in dev-scripts and the kubernetes pod I'm working on.  They are different beasts and I don't think any code would likely to be shared there.

You guys did a great job on making the containers configurable via the entrypoint/env variables!  Thank you!

Really the only thing left is to implement

[2019-04-23 14:06] #13 closed

[2019-04-23 14:12] imain opened #41 "It would be great to have health checks compatible with kubernetes."
The current arrangement of having the container exit on failure is not a standard method of performing health checks in kubernetes (or other container systems).

In kubernetes you would usually use a livenessProbe which can specify a command.  This is essentially exec'd every n seconds and the result is checked.  Multiple failures can result in the container being restarted.  This is especially ni

[2019-05-15 20:55] imain opened #46 "We still have logs in the filesystem."
We shouldn't be logging to the filesystem.  We still have logs going into the shared volume.  Eventually this will just balloon and cause problems.  All logs should go to stdout, or else we need to implement a log rotation scheme.

[2019-05-30 14:35] bfournie commented on #41
Based on the experience that OSP is having using 'podman exec' for healthchecks and the resulting memory leaks [0] we should hold off on switching to this method until the podman issue is resolved.

[0] https://bugzilla.redhat.com/show_bug.cgi?id=1699202

[2019-05-31 08:48] furukawa3 opened #49 "Support vendor hardware interface(Fujitsu iRMC driver)"

[2019-06-11 21:38] imain opened #54 "ipa-inspection-callback-url=mdns breaks inspection in BMO pod."

[2019-06-11 21:40] imain commented on #54
I'm getting an error from inspection as per the screenshot provided.  I'm guessing we need to revert that change.  There's no DNS supplying information for the ironic pod as to where the inspection endpoint would be.
![Screenshot from 2019-06-11 14-36-12](https://user-images.githubusercontent.com/169081/59308814-d29b9b00-8c56-11e9-9a2f-a9f2686c9b41.png)

[2019-06-12 06:51] elfosardo commented on #54
this feature is quite new, do you have the latest IPA ?

[2019-06-12 07:29] dtantsur commented on #54
This is old IPA, please update it. The mDNS record is served by the ironic-inspector container, but your IPA image does not understand it.

[2019-06-12 08:58] #19 closed

[2019-06-13 08:19] hardys opened #55 "Ironic listening on all interfaces, not only my_ip"
We pass a PROVISIONING_INTERFACE so that we can bind the ironic services only to a specific internal network, but it seems like the my_ip configuration isn't enough, netstat shows the service (and inspector) listening on all all interfaces?

[code]

Am I missing something, or do we need some additional configuration to ensure binding to the expected interface?

[2019-06-14 18:18] imain commented on #54
Thanks that fixed it.

[2019-06-14 18:18] #54 closed

[2019-07-08 14:16] dtantsur commented on #46
This is correct, and we're close to fixing it. However, the ramdisk logs are just tarballs, we cannot put them to stdout.

[2019-07-08 22:49] imain opened #68 "Every container runs 'configure-ironic.sh': Required inputs unclear"
The container are split up now but I'm not sure which configuration options are important to which containers.  I'm configuring them all for now but things like the http port etc may not be required by all containers?

I guess this is really just a docs request, we should update the README.

[2019-07-09 07:10] dtantsur commented on #68
With https://github.com/metal3-io/ironic-image/pull/64 we'll have much fewer options that are configured in runtime, will it solve your issue?

[2019-07-16 21:13] imain commented on #46
OK that's fine.  It is part of the interface in kubernetes that the containers log to stdout.  That way you can get logs via the command line.

[2019-07-29 15:14] yprokule opened #82 "Few containers fail to start: iptables v1.4.21: can't initialize iptables table `filter'"
Few _ironic*_ containers fail to start as part of *bmo* pod:
[code]

[code]

[2019-07-29 15:15] yprokule commented on #82
/cc @dtantsur @derekhiggins

[2019-07-29 15:28] juliakreger commented on #82
@yprokule Are they being launched by the BMO as privileged containers with host networking?

[2019-07-29 16:22] yprokule commented on #82
@juliakreger not sure how to check it, but here is containers' description from pod:
[code]

[2019-07-29 16:54] sadasu commented on #82
@imain @dhellmann All containers except the baremetal-operator have privileged set to True. https://github.com/openshift-metal3/dev-scripts/blob/master/operator_ironic.yaml

[2019-07-29 17:18] juliakreger commented on #82
@yprokule Are your steps to reproduce purely fire-up an install with openshift-metal3/dev-scripts? Or are you taking other steps?

[2019-07-29 19:22] juliakreger commented on #82
I suspect the only option here is to try ingress policy filters for the pod....

In other words, remove the ip tables statements and we update the yaml loading the pod. Thoughts? @dtantsur @derekhiggins

[2019-07-30 08:17] dtantsur commented on #82
As long as it works - I'm good with it :) I `iptables` might have been a temporary solution while we were launching ironic directly via `podman`.

[2019-07-30 10:11] derekhiggins commented on #82
I thought this error could be ignored but maybe i'm wrong,

hmm, in the pod description(above) i don't see mention of privileged (as in https://github.com/metal3-io/baremetal-operator/blob/8169897aeb6580c27671f1b78d6217a541c8e079/deploy/operator_ironic.yaml#L60)
          securityContext:
            privileged: true

not sure if its relevant tbh..

[2019-07-30 11:08] derekhiggins commented on #82
https://github.com/metal3-io/ironic-image/pull/83

[2019-07-31 13:11] dhellmann commented on #82
I think #83 fixes this.

[2019-07-31 13:11] #82 closed

[2019-07-31 13:13] dhellmann opened #84 "minimize iptables rule in ironic images"
We need some iptables rules set in the ironic images while we run them on the bootstrap node, outside of the cluster. We need to be careful that the containers do not force setting those rules when run inside the cluster, however, because that triggers issues like #82. See also #83 for more discussion.

[2019-07-31 16:44] imain commented on #82
What environment are you running this on?  Is it a baremetal deployment?  I'm wondering if 'provisioning interface' is set correctly?

[2019-08-01 15:09] yprokule commented on #82
Virtual, deployed with _make_ script from dev-scripts

[2019-08-23 20:47] dhellmann commented on #49
I think this issue is completed by #74. If not, please reopen this ticket.

[2019-08-23 20:47] #49 closed

[2019-09-04 16:20] e-minguez opened #95 "cp: cannot stat '/usr/share/ipxe/ipxe.efi': No such file or directory"
https://github.com/metal3-io/ironic-image/blob/2bca55e0f4198cb0d8500f551bcb26c573a9bf3a/rundnsmasq.sh#L22

`podman logs dnsmasq` complains about `cp: cannot stat '/usr/share/ipxe/ipxe.efi': No such file or directory`

according to `rpm -ql ipxe-bootimgs-20181214-1.git133f4c47.el8.noarch | grep ipxe` there are two efi files:
[code]

[2019-09-05 11:45] dtantsur commented on #95
Note that we need to keep compatibility with CentOS 7.

[2019-10-10 09:09] elfosardo opened #102 "Flask host and port are static in exporter conf"
The change #101 re-introduced the prometheus-exporter app in the ironic image.
This app is based on Flask and in the original configuration its host and running port are statically defined in the startup script runexporterapp.sh
These two parameters should be made customizable and controllable from outside the container.

[2019-10-10 09:20] iurygregory commented on #102
The port comes from https://github.com/prometheus/prometheus/wiki/Default-port-allocations
more details why they do this can be found in https://prometheus.io/docs/instrumenting/writing_exporters/#port-numbers

[2019-10-10 16:05] #95 closed

[2019-10-16 16:46] #102 closed

[2019-10-29 07:39] maelk opened #112 "Mariadb fails to start on Minikube"
Mariadb fails to start on the latest Minikube :
[code]

The log files / folders in /shared, /var/log and /var/lib/mysql are empty.
The container starts properly when not in Minikube (tested on Centos and Ubuntu).

[2019-10-29 07:49] maelk commented on #112
When starting the container, the nginx-ingress-controller and storage-provisioner of Minikube crash too

[2019-10-29 10:22] maelk commented on #112
We could trace the failure to a suspicious mmap call :
[code]
that causes OOM killer to come in action.

[2019-10-29 10:58] hardys commented on #112
Did you find a related upstream bug that suggested an upgrade would fix this?

cc @elfosardo have you seen this while testing with downstream images?

[2019-10-29 11:47] maelk commented on #112
Here is the upstream bug : https://github.com/kubernetes/minikube/issues/5751

[2019-10-29 12:13] russellb commented on #112
I think we only give minikube 2 GB RAM. It could be that we need to increase after moving ironic and supporting services into the cluster.

[2019-10-29 12:14] maelk commented on #112
the amount of RAM is ok for now. Mariadb was requesting 17GB ! :laughing:

[2019-12-02 07:01] #112 closed

[2019-12-02 07:03] maelk opened #115 "Variable unset in dnsmasq configuration for ipv4"
IRONIC_IP in dnsmasq.conf.ipv4 is not replaced with an ip when starting dnsmasq. It seems to not prevent it to start properly, but sed should probably be run to replace it in rundnsmasq script

[2019-12-03 16:01] hardys commented on #115
Closed via https://github.com/metal3-io/ironic-image/pull/117

[2019-12-03 16:01] #115 closed

[2019-12-03 16:01] hardys commented on #84
Closed via https://github.com/metal3-io/ironic-image/pull/104

[2019-12-03 16:01] #84 closed

[2020-01-15 14:06] stbenjam commented on #55
@hardys mentioned that locking down Ironic to only listen on the provisioning interface broke some communication, as something was trying to talk to it on a different IP. This needs more investigation

[2020-01-15 14:08] hardys commented on #55
https://github.com/metal3-io/ironic-image/pull/56 has some more details on this, I think the main issue is some things expect to use localhost, not only the provisioning IP so we'll need to address that before fixing this.

[2020-01-15 14:10] stbenjam commented on #68
It looks like README.md has some documentation now, but it may be out of date after the changes for IPv6.

[2020-01-20 01:15] yakiyoshi opened #132 "Agent driver requires agent_url in driver_internal_info"
I got error messages on ironic container below and couldn't deploy baremetalhost.

- Error Messages ( $ kubectl logs ironic-79cdf49594-cd4qh -n metal3 -c ironic )
2020-01-10 07:05:03.736 34 ERROR ironic.conductor.utils [req-1c1e975c-f9ee-4149-bfbf-212e898c53fc - - - - -] Node a2a01673-cefa-4c16-8f7e-7f4cfcd26d36 failed deploy step {u'priority': 100, u'interface': u'deploy', u'step': u'deploy', u'a

[2020-01-20 01:37] juliakreger commented on #132
Greetings @yakiyoshi! You can see some discussion on issue #130 which should hopefully shed light for you on what the issue is and how to remedy it. We have a patch in upstream ironic that is in review at this time. In essence a security fix broke the fast track feature and the the testing didn't catch it with the way it has been setup to use from RPMs until metal3 was already impacted.

Your fast

[2020-01-20 14:14] maelk commented on #132
You can see an example in the baremetal operator deployment. The workaround configmap is here : https://github.com/metal3-io/baremetal-operator/blob/master/deploy/ironic_bmo_configmap.env#L9

[2020-01-21 06:13] yakiyoshi commented on #132
@juliakreger @maelk
Thank you for a valuable suggestion.
Setting IRONIC_FAST_TRACK=false environment value in the ironic container is working fine!

[2020-01-21 06:13] #132 closed

[2020-01-29 20:35] yrobla opened #137 "isolinux.bin file not found in image"
When enrolling nodes with virtualmedia, they get the error about couldn't create ISO because isolinux.bin file does not exist.
I actually logged into ironic-conductor pod and the /usr/lib/syslinux/isolinux.bin is not there. Even more, i installed syslinux package on ironic-conductor and i see the file goes to /usr/share/syslinux/isolinux.bin . Something may have changed in the base image.
A possib

[2020-01-29 20:58] etingof commented on #137
This might only happen if you do BIOS boot as opposed to UEFI.

Perhaps [default/isolinux_bin](https://github.com/openstack/ironic/blob/master/ironic/conf/default.py#L196) ironic option can  be used to point ironic to proper `isolinux.bin` location.

[2020-01-30 07:06] yrobla commented on #137
In my case, the installer host is UEFI and also the target node has boot mode as UEFI.

[2020-01-30 09:43] elfosardo commented on #137
As far as I can tell we never installed the syslinux package explicitly.
I also don't see it being installed as dependency from other packages, at least looking at some of the history of the builds.
If this is a new requirement for vmedia boot we definitely need to install it.
Either softlink or change of ironic option should work fine afterwards.

[2020-01-30 11:22] etingof commented on #137
This seems surprising to me because [of this condition](https://github.com/openstack/ironic/blob/master/ironic/common/images.py#L498). I can't find any other path leading to `isolinux.bin` use.

Could you share some logs to see where it ultimately went?

[2020-01-30 11:26] etingof commented on #137
May be this is up to the package (e.g. rpm) to take care of a non-Pythonic dependency? We do install it in devstack. though.

Prior to redfish virtual media, I think `ilo` driver might have used `isolinux` similarly.

Also, it should be a kind of conditional dependency - UEFI boot should work just fine without isolinux.

[2020-02-03 16:00] yrobla commented on #137
This is happening just with virtualmedia i'd say, because it needs to compose the iso for the system to use it. So this fails on the process of iso creation

[2020-02-12 14:05] stbenjam commented on #137
/kind bug

[2020-02-12 14:05] stbenjam commented on #137
@elfosardo Could you take a look at this? Do we need to add this package to ironic-image for virtual media?

[2020-02-12 15:42] yrobla commented on #137
I got rid of this failure on master nodes , using latest code. If the box is uefi, that file should not be used. However i am starting to see the same failures on worker nodes now, with a box booting from uefi.

[2020-02-12 17:14] juliakreger commented on #137
using latest code from where? metal3-io/ironic-image, openshift/ironic-image, ironic itself?

[2020-02-12 17:33] yrobla commented on #137
Latest code from openshift/installer... it sets capabilities/boot_mode to uefi by default . With that flag, the isolinux.bin codepath is not reached, and i do not get the missing file problem.

[2020-02-13 17:05] juliakreger commented on #137
@yrobla In that case, it seems like we could close this item?

[2020-02-13 17:31] yrobla commented on #137
Closing that, as boot_mode:uefi capability fixes the issue

[2020-02-13 17:31] #137 closed

[2020-02-14 00:37] rkamudhan commented on #132
@yakiyoshi @maelk @juliakreger , I am getting the same error

2020-02-13 21:35:24.172 27 ERROR ironic.conductor.utils [req-ff7c67e9-c321-4dec-b174-4a3e5bc3d340 - - - - -] Node b20054f5-493d-494f-88c9-3af5038ad300 failed deploy step {'step': 'deploy', 'priority': 100, 'argsinfo': None, 'interface': 'deploy'}. Error: Agent driver requires agent_url in driver_internal_info: ironic_lib.exception.Ironi

[2020-03-10 08:04] ismacasti opened #143 "Allow timeout customization on Ironic"
If the BMC is slow to respond, Ironic will fail the current task (deploying, cleaning...).
For example, in a Redfish machine, Ironic would send a power off call, but the machine will take more than 30 seconds to report back a PowerOff state.

It seems that right now the timeout is 30 seconds.
Having customizable timeouts it's necessary, or at least increase it to more than 30 seconds.
[code]

[2020-03-10 08:04] ismacasti commented on #143
The option to be configured it's in Ironic config file.
[code]

[2020-03-10 13:42] juliakreger commented on #143
@ismacasti Greetings, is there any chance you can provide some details regarding the hardware that is needing this configuration change. I ask because the ironic community has generally not heard of the need, and if this is becoming a need on hardware starting to ship, then the default timeout upstream needs to be adjusted.

[2020-03-11 08:18] ismacasti commented on #143
Hi @juliakreger,

We are using our own hardware, Ericsson SDI. (https://www.ericsson.com/en/portfolio/digital-services/cloud-infrastructure/software-defined-infrastructure).
The Redfish API is cached, so power changes usually take a bit more than 30 seconds to show up.
If the API is on heavy load, more delays can be expected.
Thanks!

[2020-03-11 14:03] dhellmann commented on #143
I see no problem with this, as long as we don't require users of the image to provide a value and keep the current default.

[2020-04-14 15:20] stbenjam commented on #55
/remove-lifecycle stale
/lifecycle frozen

[2020-05-07 05:50] maelk opened #155 "IP fetched with prefix when configuring ironic"
After this change : https://github.com/metal3-io/ironic-image/commit/e4df69305733355e9e77c78c79c0f84c65c5c3db when runnning
[code]
The prefix should be stripped. This prevents ironic from starting properly

[2020-05-07 06:14] maelk commented on #155
The error we see in ironic is :
[code]

[2020-05-07 09:56] #155 closed

[2020-05-11 14:07] dtantsur commented on #55
The option is `[api]host_ip`, `my_ip` is used by conductor for different purpose.

[2020-05-14 14:56] #41 closed

[2020-05-14 14:56] #68 closed

[2020-06-19 05:07] Nickuru opened #166 "ipmitool PXE bug"
I have a clean metal3-dev-env installation on baremetal. The installation was successfully completed.

When I applied provision_cluster and then provision_controlplane i got endless "Provisioning" state in "kubectl get baremetalhosts".

"openstack baremetal node list" showed a Clean Failed error (HTTP 400). That's why I decided to go watch Ironic logs. Ironic logs give me this:

[code]

And when I

[2020-07-09 15:33] maelk commented on #166
This has now been fixed. Please re-open if you still see the issue.

/close

[2020-07-09 15:33] #166 closed

[2020-07-09 18:50] maelk opened #174 "IPA can not fetch a token when "online" is false in BMHs creation"
This issue has already been solved and is aimed to log what happened and how it was solved.

# The symptoms

After changing the way we create the BMH resources, setting the "online" flag to false in the spec, all metal3 deployments started failing with :
[code]
The provisioning was starting, but all nodes were staying in "clean wait" until timeout.

# The error flow

IPA authentication using token

[2020-07-09 18:54] maelk commented on #174
Fixed by https://github.com/metal3-io/ironic-image/pull/173 and PRs in Ironic

/close

[2020-07-09 18:54] #174 closed

[2020-07-10 14:59] #143 closed

[2020-07-16 15:36] ankit-kumar5 opened #177 "Issue in enabling ilo hardware type"
Hi

I am working on enablement of ilo hardware type. And i am facing one issue when i am adding ilo hardware type in enabled_hardware_types (/etc/ironic/ironic.conf). This is the error i am getting

**ERROR:**

/usr/lib/python3.6/site-packages/oslo_serialization/jsonutils.py:180: UserWarning: Cannot convert <ironic.drivers.modules.ipxe.iPXEBoot object at 0x7fbca2dd5e10> to primitive, will raise Va

[2020-08-10 08:53] kashifest opened #188 "CI is failing as Ironic fails to start"
The ironic fails to start and after BMH is applied, it doesn't even go for `registration`.

[code]
The ironic log is complaining about the following:

`Failed to register hardware types. For hardware type 'fake-hardware', no default value found for bios interface.: ironic.common.exception.NoValidDefaultForInterface: For hardware type 'fake-hardware', no default value found for bios interface. `

T

[2020-08-10 09:07] maelk commented on #188
you also reported the following error in the chat :
[code]

[2020-08-10 09:09] kashifest commented on #188
@maelk Yes. Thanks for reminding. I will update the issue description

[2020-08-10 09:16] maelk commented on #188
We could try to set a default bios interface also. Accroding to the docs :
[code]
So we could try to set the default_bios_interface to no-bios ? and the enabled interfaces to no-bios and idrac-wsman ?

[2020-08-16 20:31] dtantsur commented on #188
Please avoid setting the defaults, it never helps to solve this particular problem. Setting the right enabled interfaces should be enough.

[2020-08-19 13:44] fmuyassarov commented on #188
@maelk @kashifest Can we re-enable the idrac-wsman ?

[2020-08-20 07:08] maelk commented on #188
Since we reverted the problematic commit, this issue is solved. However, this is a good hint on how to proceed with the next attempt @demonCoder95

[2020-08-20 13:18] demonCoder95 commented on #188
I'll get onto it. Thanks @maelk

[2020-08-20 13:18] demonCoder95 commented on #188
We can close this issue. I'll get a PR going for the interfaces.

[2020-08-31 06:49] maelk commented on #188
ok, thank you !
/close

[2020-08-31 06:49] #188 closed

[2020-09-09 07:23] ismacasti opened #195 "IP conflicts on dnsmasq crash PXE firmware"
Hi!

We have encountered a problem with conflicting IPs on dnsmasq on Dell hardware. It is well explained on a bug in Ironic's bugzilla: https://bugzilla.redhat.com/show_bug.cgi?id=1301659
[code]
The moment that NAK gets to the machine, PXE stops and the machine moves to boot from HDD. (Thanks Dell for your good DHCP implementation)

The workaround described there is to have Ironic serve sequentia

[2020-09-09 07:43] maelk commented on #195
/kind bug
@dtantsur @derekhiggins @elfosardo any idea whether doing this kind of changes in the dnsmasq configuration would impact Metal3 negatively ?

[2020-09-09 10:18] dtantsur commented on #195
It's a good idea, I'm all for it. I don't expect any particular downsides.

[2020-09-09 14:15] derekhiggins commented on #195
Sounds ok to me, apparently this increases the chances that the IP for a host might change if the client allows the lease to expire which I guess could happen if a node powered down, @celebdor do you know if this would be handled ok in openshift?
[code]

[2020-09-18 11:24] #195 closed

[2020-10-09 07:01] maelk opened #203 "dhcp-sequential-ip issues"
In order to prevent collisions in case of burst, we enabled dhcp-sequential-ip for dnsmasq. However, this turned out to be even more problematic in bigger scale deployments.

In a case of 30 nodes deployment, when the bmhs are created all at the same time, or the deployment is triggered (in CAPI all workers start to provision at the same time), then we see many issues, where dnsmasq does not answe

[2020-10-09 18:07] dhellmann commented on #203
https://github.com/metal3-io/metal3-docs/pull/139 may also help with this problem.

[2020-10-09 18:46] maelk commented on #203
agreed, but meanwhile I am afraid we might have introduced something that could cause quite some issues to users, compared to the previous situation

[2020-10-09 19:00] dhellmann commented on #203
Sure, I agree that rolling back the sequential IP setting also makes sense.

[2020-10-14 13:43] fmuyassarov commented on #203
/assign
/kind bug

[2020-10-15 10:16] #203 closed

[2020-10-27 15:05] zaneb opened #210 "Basic auth on json-rpc broken with IPv6"
There is a [bug in Ironic](https://storyboard.openstack.org/#!/story/2008288) with json-rpc when specifying an IPv6 address for the `[DEFAULT].host` config option for ironic-conductor.

Since #201 we explicitly set this option to `$IRONIC_IP` except when the json-rpc auth type is `noauth` (in which case it's forced to be `localhost`).

Until the bug is fixed, basic auth on json-rpc is unusable wit

[2020-10-27 16:02] maelk commented on #210
Hum, we could remove the line that explicitly sets it to $IRONIC_IP. That's how it worked until this PR, so I don't see a problem reverting to this behaviour

[2020-10-28 14:41] fmuyassarov commented on #210
/kind bug

[2020-10-29 11:15] #210 closed

[2020-11-19 15:08] #177 closed

[2020-11-30 14:08] knfoo opened #228 "missing consol logging makes bmh provisioning fail"
After upgrade to v0.4.1 the bmh no longer logs syslog to the console during the different phases.
It seems to do with this: https://github.com/metal3-io/ironic-image/pull/160
This for some odd reason has the effect on my baremetal nodes (Hauwei ibmc managed, UEFI and Legacy bootmode) that it fails in random phases like clean wait, inspection wait.
I am not able to get anything to provision the ser

[2020-12-01 10:53] knfoo commented on #228
The changes I did is available in this fork
 https://github.com/knfoo/ironic-image

[2020-12-01 11:39] derekhiggins commented on #228
I've updated https://github.com/metal3-io/ironic-image/pull/226 to remove console=ttyS0 form the kernel, it can now instead be configured.

[2020-12-02 06:31] knfoo commented on #228
That sounds great

[2020-12-18 01:02] kunyi731 opened #236 "A strict umask would make dualboot.ipxe not available to client when manually built"
To reproduce:
umask 0027
docker build .
(run the image and exec to ironic-httpd)
ls -al /shared/html/dualboot.ipxe
-rw-r----- 1 root root     741 Dec 17 21:01 dualboot.ipxe

Please prepend 'umask 0022' to https://github.com/metal3-io/ironic-image/blob/fd22729faad0e23bbe4dc08a8fc151c714ed0729/Dockerfile#L8

[2020-12-18 16:14] kunyi731 commented on #236
Never mind, it is because when I cloned ironic-image repo, the umask is set to 0027 causing the dualboot.ipxe file being non-readable by others.

[2020-12-18 16:14] #236 closed

[2021-01-06 14:15] fmuyassarov commented on #228
/kind feature

[2021-01-21 10:02] mel1nn opened #243 "Ironic does not support ilo5"
I want to provision a baremetal server (HPE) using its ilo5 bmc.
When I apply the related baremetalhost on my cluster, an error occurs in the Ironic pod:
` No valid host was found. Reason: No conductor service registered which supports driver ilo5 for conductor group`.

Thanks for your help.

[2021-01-21 22:50] kunyi731 opened #238 "Consider using more threads to improve build speed"
Currently this line

[code]

uses a single thread for compilation which is wayyyy too slow. Please consider using a reasonable number of threads like 'make -j4'.

[2021-02-24 14:12] fmuyassarov commented on #238
/kind feature

[2021-03-22 10:05] hardys commented on #243
This will be closed via https://github.com/metal3-io/ironic-image/pull/244

[2021-04-21 13:11] #243 closed

[2021-04-22 19:48] kunyi731 opened #254 "runmariadb seems to fail with MariaDB 10.3.28"
The latest centos8 build would update MariaDB to 10.3.28 and it seems the current runmariadb script doesn't work well with it.
I'm seeing the mariadb pod crash after the update. After pinning the mariadb-server version to 10.3.27 the issue is resolved.

This is the log of failing mariadb pod: https://pastebin.com/EAUpevfx

[2021-05-05 13:27] namnx228 commented on #254
Temporary fix: https://github.com/metal3-io/ironic-image/pull/259
Proper fix: https://github.com/metal3-io/ironic-image/pull/260

[2021-05-06 14:51] #228 closed

[2021-05-19 13:13] namnx228 commented on #254
/close

[2021-05-19 13:13] #254 closed

[2021-05-19 23:21] kunyi731 opened #265 "machine partition creation issue when qcow2 user image is supplied"
We used to use a raw user OS image format (.img) and it was working fine. After switching to using the qcow2 format, it seems Ironic Python Agent is not happy when attempting to create partitions:

[code]

Is there any baremetal operator / Ironic API that should be set during provisioning to use the qcow2 image?

[2021-05-24 06:52] digambar15 opened #266 "Scanning reports high security level vulnerability in ironic and ironic-inspector images"
I am working on checking image level security issues and found that Ironic and Ironic-inspector images are not passing security tests and reported more 5 high level security issues by scanning tool in CI/CD. I think all the reported security level issues should be fixed on priority.

Below are the details -

1. Security vulnerability issues reported for images below

- Ironic -   https://quay.io/r

[2021-06-02 13:23] furkatgofurov7 commented on #265
Hi! Thanks for reporting, can you please provide these:
- can you please give more information what image are you using?
- can you also provide full logs from ramdisk.

Thank you.

[2021-06-02 13:23] furkatgofurov7 commented on #265
/priority-awaiting-more-evidence

[2021-06-02 13:26] furkatgofurov7 commented on #266
/kind bug

[2021-06-02 13:27] dtantsur commented on #265
From reading the man page, exit code 2 means device not found. Is /dev/sda even correct?

[2021-06-02 13:36] furkatgofurov7 commented on #265
/priority awaiting-more-evidence

[2021-06-03 07:03] digambar15 commented on #266
I can also see security vulnerabilities for BMO image also - https://quay.io/repository/metal3-io/baremetal-operator/manifest/sha256:3871acbe77d381e51f0fa5f6041d321805f78ea5ebd4909d8c69c74b03e9cc44?tab=vulnerabilities

[2021-08-15 05:09] kunyi731 commented on #265
Sorry about the late reply. We have quite several updates in our pipeline. I will test with the latest and provide an update.

[2021-08-30 09:12] wcecs opened #296 "ProvisioningError :blkid returns with Exit code:2"
I am using the default image format(raw) for the provisioning of baremetal nodes. Facing below issue during the provisioning .
[code]

Ramdisk logs from ironic-log-watch container attached [here](https://github.com/metal3-io/ironic-image/files/7081524/ironic-log-watch.docx)
lsblk returns with exit code 0 and no errors related to GPT partition in the logs,
[code]
[code]

conductor logs ,
[code]
Tri

[2021-09-06 16:42] dtantsur commented on #296
I see in your logs for node-4:

0.05 seconds is a suspicious time for the image to be downloaded and written. Could you double-check what `http://172.22.0.160/images/UBUNTU_20.04_NODE_IMAGE_K8S_v1.22.0-raw.img` actually is?

P.S.
Also please avoid putting logs in a docx file, just a text file is enough.

[2021-09-07 06:01] wcecs commented on #296
httpd container logs
[code]

1024(too small) means the file is not getting correctly downloaded, I think so.

[2021-09-07 11:47] dtantsur commented on #296
Check the file that you have with `file` or `qemu-img`. This is for a real qcow2 image:
[code]

[2021-09-07 11:57] dtantsur commented on #296
I've just reproduced this exact error when using an HTML page instead of a proper image. Maybe your image got corrupted as well? I'll work on better diagnostics.

[2021-09-07 12:02] snehachavan50 commented on #296
I think so. I tried using [this](http://cloud-images.ubuntu.com/releases/focal/release/ubuntu-20.04-server-cloudimg-amd64.img) image through ironic-CLI it worked. Not able to provision through normal flow and default image.

[2021-09-07 12:09] wcecs commented on #296
I think so. I tried using this(http://cloud-images.ubuntu.com/releases/focal/release/ubuntu-20.04-server-cloudimg-amd64.img) image using ironic CLI. Not able to provision using provisioning scripts and with ironic CLI using default image metal3 uses.

[2021-09-07 13:36] dtantsur commented on #296
I've just managed to successfully provision from this image using pure Ironic (not Metal3).

[2021-10-06 08:17] MaxRink opened #309 "Split up separate components into seperate Images"
Currently everything is bundled into one image, this is usually not good practice as its brings quite a few problems with it, like longer pull times, not being able to do granular updates and such. It also adds complexity to the image build.
I would see a few components that should probably be their own images:

- MariaDB: unsure if not just using official images is the better option here ( or bit

[2021-10-06 09:13] dtantsur commented on #309
I full agree with this. I know that @elfosardo was going to look in the same direction, please sync with him before taking any drastic actions. Some comments:

I'd like to use official images if possible. Maybe not straight away. If we need to start with our images - let's do it.

A small correction: it's TFTP+DHCP (no DNS, even though we use dnsmasq as the implementation).

This one is going to b

[2021-10-06 09:35] MaxRink commented on #309
We currently handle that by having ironic in cluster and tying everything together using nginx Ingress, but doing that statically in an docker environment should also be possible. You would still need a seperate instance for wsgi tho, but with less config

[2021-10-06 09:44] dtantsur commented on #309
@elfosardo I suspect it may cause issues for us downstream because we have neither uwsgi nor gunicorn?

[2021-10-14 21:57] valumar opened #314 "ironic.common.exception.InvalidMAC: Expected a MAC address but received (WWN)"
I'm using Openshift 4.8.12 with baremetal-operator installed. After creating new kind: BareMetalHost to provision new node on  Lenovo ThinkSystem SR630 with  QLogic PCI adapter (`16Gb FC Dual-port HBA`) installed  I observe few errors in `metal3-ironic-conductor` container:

[code]
As you can see after this error the state of provisioning changes to failed state. Since QLogic is the FC adapter it

[2021-10-26 08:30] mel1nn opened #317 "Image metal3-io/ironic:capm3-v0.4.3 unavailable."
Hi,
Why the image **metal3-io/ironic:capm3-v0.4.3** is not available on quay.io ?
Thanks

[2021-11-03 07:49] kashifest opened #319 "Change default branch to "main""
Addresses [this](https://github.com/metal3-io/metal3-docs/issues/117).

This has already been done in CAPM3 and IPAM. Check these repo's for reference.

[2021-11-03 07:49] kashifest commented on #319
## Prerequisites

- [ ] Create an issue in your repo to track the branch rename.
You can paste this checklist in the issue body.

- [ ] If you are not a root approver for the repo, assign a root
approver for approval.

- [ ] Once the issue has been approved, send a notice to your SIG's
mailing list about the potential branch rename.

## Changes pre-rename

Make the following changes _before_ renam

[2021-12-10 11:58] Alireza-R opened #333 "Ironic image cache cleaning removes some of the images"
We have noticed when we do capi/metal3 upgrade, that pxe boot sometimes fails and from dnsmasq logs, we see:
[code]

Investigating from the dnsmasq container, we noticed actually the following images are not available in /shared/tftpboot
_undionly.kpxe snponly.efi ipxe.efi_

We have been checking the ironic pods and we noticed this log from ironic conductor:
`2021-11-16 13:00:22.823 1 DEBUG ironic

[2021-12-10 13:41] #333 closed

[2021-12-13 05:41] #265 closed

[2022-01-04 09:19] tpaimparay opened #341 "Image metal3-io/ironic:capm3-v0.5.4 unavailable"
Hello,
Image metal3-io/ironic:capm3-v0.5.4 is not available in quay.io.

Could you have a look ?

BR

[2022-01-04 09:52] furkatgofurov7 commented on #341
Hey @tpaimparay !
Thanks for reaching out. We are facing some issues with our image builds in quay recently and a support ticket towards quay has been opened to resolve this. Sorry for the inconvenience and I will make sure to give an update here once we sort out the issue. The same notification has been sent out in [bare metal slack channel ](https://kubernetes.slack.com/archives/CHD49TLE7/p16412

[2022-01-04 12:51] tpaimparay commented on #341
Thanks for your quick answer and actions.

BR

[2022-01-04 14:46] elfosardo commented on #309
we're currently in the process of separating mariadb https://github.com/metal3-io/ironic-image/pull/339

[2022-01-04 14:46] elfosardo commented on #309
/remove-lifecycle stale

[2022-01-05 08:25] furkatgofurov7 commented on #341
Hi!

Quay issue has been resolved and the image is available now: [quay.io/metal3-io/ironic:capm3-v0.5.4](https://quay.io/repository/metal3-io/ironic?tag=capm3-v0.5.4&tab=tags)

Thanks for your patience!

[2022-01-05 10:52] #341 closed

[2022-01-05 13:42] #296 closed

[2022-01-11 13:40] kashifest commented on #319
https://github.com/metal3-io/project-infra/pull/306

[2022-01-13 10:23] dtantsur commented on #314
/remove-lifecycle stale

The best I can offer is to skip such NICs

[2022-01-13 10:34] dtantsur commented on #314
/kind bug

Ironic fix: https://review.opendev.org/c/openstack/ironic/+/824523. Please note that to get it in OpenShift, you need to file the issue to the Red Hat Bugzilla.

[2022-01-24 13:47] #317 closed

[2022-02-02 14:51] Rozzii commented on #319
/close

[2022-02-02 14:51] #319 closed

[2022-02-03 08:03] Rozzii commented on #55
/triage accepted

[2022-02-03 08:04] Rozzii commented on #309
/kind design
/kind feature
/triage accepted

[2022-02-03 08:04] Rozzii commented on #314
/triage accepted

[2022-02-03 14:23] dtantsur commented on #314
/close

The fix has merged.

[2022-02-03 14:23] #314 closed

[2022-02-16 14:35] fmuyassarov commented on #55
Hi @hardys . Do you have any updates on this issue? We were not sure if there was a progress on this issue while triaging today. But perhaps you can share the status?

[2022-02-18 06:14] kplimack opened #352 "Error setting up bootloader. Error UTF-16 stream does not start with BOM: UnicodeError: UTF-16 stream does not start with BOM"
I'm still trying to determing what changed to trigger this.  any help debugging this issue would be much appreciated.
I did login to a host during ironic-inspection and ran `efibootmgr` successfully, but did not see what this CSV file is that its tripping on.

[code]

[2022-02-18 17:31] kplimack commented on #352
@dhellmann do you or TheJulia have any ideas what I can check to debug this?

not sure if this bios_grub partition is supposed to be here.   metadata cleaning wipes it, but imaging puts it back
[code]

[2022-02-18 18:38] kplimack opened #353 "unable to build base image"
on `4c9583eab21ef80fca48ab95eec28dfac9524f99`

[code]

[2022-02-18 20:21] kplimack commented on #353
it appears that adding `glibc-gconv-extra` to the dockerfile fixes this

[2022-02-19 08:08] elfosardo commented on #353
this is a known issue with CentOS Stream 9, please see https://github.com/metal3-io/ironic-image/pull/326
is this happening with CentOS Stream 8 too ?

[2022-02-21 08:12] elfosardo commented on #353
I verified this is also happening in CS8 and proposed a fix

[2022-02-21 08:12] elfosardo commented on #353
/triage accepted

[2022-02-21 17:08] elfosardo commented on #352
/triage accepted
we verified this issue doing some troubleshooting on slack
we're guessing the codec of the csv file wrong
a patch to IPA is probably needed to correctly detect the codec in case it's not utf-16 but can be Little Endian or Big Endian

[2022-02-21 17:08] elfosardo commented on #352
/assign @elfosardo

[2022-02-21 17:49] elfosardo commented on #352
fix has been proposed  in ironic-python-agent upstream https://review.opendev.org/c/openstack/ironic-python-agent/+/830264

[2022-02-22 14:10] #353 closed

[2022-04-05 05:31] elfosardo commented on #352
@kplimack did you get the chance to test the fix?

[2022-04-27 14:37] Rozzii commented on #55
/assign @Rozzii

[2022-05-11 14:21] Rozzii commented on #309
/remove-lifecycle stale

[2022-06-17 17:04] mboukhalfa commented on #55
Previous PR has been merged not sure why are not mentioned here probably once the PR #372  we can close the issue

[2022-06-22 14:29] Rozzii commented on #55
/remove-lifecycle stale

[2022-07-12 15:05] kplimack commented on #352
Yes I did get a chance to test and it works properly.

On Tue, Jul 12, 2022 at 7:22 AM David van der Spek ***@***.***>
wrote:

[2022-07-13 08:15] elfosardo commented on #352
/close

[2022-07-13 08:15] #352 closed

[2022-08-17 14:40] Rozzii commented on #309
/lifecycle frozen

[2022-09-14 07:35] pierrecregut opened #384 "Missing idrac-redfish interface for raid"
Baremetal operator fails on registration of server with the idrac-virtualmedia scheme: with
[code]
The reason is the conflict between
https://github.com/metal3-io/baremetal-operator/blob/41350ed511b7e2d90df81a9ab4afd56819a8b2d0/pkg/hardwareutils/bmc/idrac_virtualmedia.go#L88
and
https://github.com/metal3-io/ironic-image/blob/adf41994443973b593634e9efd8d384075c85c39/ironic-config/ironic.conf.j2#L16

[2022-09-14 12:24] dtantsur commented on #384
/triage accepted
/kind bug

[2022-09-20 08:43] #384 closed

[2022-09-21 14:34] Rozzii commented on #55
I think this has been fixed , can you please close it @hardys ?

[2022-10-21 15:30] #55 closed

[2022-11-29 11:26] dtantsur commented on #46
We still have log files because of https://github.com/rdo-packages/ironic-distgit/commit/64c9b5062638ff07d757afab8b9ca9e92a449051, will fix.

[2022-11-29 11:30] dtantsur commented on #46
/triage accepted
/kind bug

[2022-11-30 01:05] #46 closed